*background: #282828
*foreground: #ebdbb2
*color0:  #282828
*color8:  #928374
*color1:  #cc241d
*color9:  #fb4934
*color2:  #98971a
*color10: #b8bb26
*color3:  #d79921
*color11: #fabd2f
*color4:  #458588
*color12: #83a598
*color5:  #b16286
*color13: #d3869b
*color6:  #689d6a
*color14: #8ec07c
*color7:  #a89984
*color15: #ebdbb2

XTerm.termName: xterm-256color
XTerm*metaSendsEscape: true
XTerm*internalBorder: 50
XTerm*borderWidth: 0
XTerm*scrollBar: false
XTerm*scrollTtyOutput: false
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm*selectToClipboard: false

XTerm*faceName: monospace
XTerm*faceSize: 17
XTerm*faceSize1: 8 
XTerm*faceSize2: 10 
XTerm*faceSize3: 12 
XTerm*faceSize4: 16 
XTerm*faceSize5: 22 
XTerm*faceSize6: 24

XTerm*vt100.translations: #override \n \
    Alt <Key>v: insert-selection(CLIPBOARD) \n \
    Alt <Key>V: insert-selection(PRIMARY) \n \
    Alt <Key>c: copy-selection(CLIPBOARD)

