! Primary colors
*.foreground: #ECE1D7
*.background: #292522

! Normal colors
*.color0:  #34302C
*.color1:  #BD8183
*.color2:  #78997A
*.color3:  #E49B5D
*.color4:  #7F91B2
*.color5:  #B380B0
*.color6:  #7B9695
*.color7:  #C1A78E

! Bright colors
*.color8:  #867462
*.color9:  #D47766
*.color10: #85B695
*.color11: #EBC06D
*.color12: #A3A9CE
*.color13: #CF9BC2
*.color14: #89B3B6
*.color15: #ECE1D7

dmenu.selbackground: #ECE1D7
dmenu.selforeground: #292522

XTerm.termName: xterm-256color
XTerm*metaSendsEscape: true
XTerm*internalBorder: 50
XTerm*borderWidth: 0
XTerm*scrollBar: false
XTerm*scrollTtyOutput: false
XTerm*highlightSelection: true
XTerm*trimSelection: true
XTerm*selectToClipboard: false

XTerm*faceName: monospace
XTerm*faceSize: 17
XTerm*faceSize1: 8 
XTerm*faceSize2: 10 
XTerm*faceSize3: 12 
XTerm*faceSize4: 16 
XTerm*faceSize5: 22 
XTerm*faceSize6: 24

XTerm*vt100.translations: #override \n \
    Alt <Key>v: insert-selection(CLIPBOARD) \n \
    Alt <Key>V: insert-selection(PRIMARY) \n \
    Alt <Key>c: copy-selection(CLIPBOARD)

